@model MediaViewModel
<section class="whiteSection full-width clearfix" id="ourGallery">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Galerie</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>
        <div class="row" id="container">
            @{
                foreach (string imagePath in Model.mediaList)
                {
                    string correctImagePath = imagePath.Replace("\\", "/").TrimStart('/');

                    <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 isotopeSelector">
                        <article class="">
                            <figure class="media-img">
                                <img src="@Url.Content(correctImagePath)" alt="image" class="img-rounded">
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                </div>
                                <div class="overlay">
                                    <a class="fancybox-pop" rel="portfolio-1" href="@Url.Content(correctImagePath)">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </figure>
                        </article>
                    </div>

                }
            }
        </div>
    </div>
</section>
