<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block pull-right">
                <div class="thumbnail thumbnailContent alt">
                    <img src="img/course-single/course-single-title.jpg" alt="image" class="img-responsive">
                    <div class="caption border-color-1">
                        <h3 class="color-1">Tarife</h3>
                        <h4 class="color-2">Programul 12:00-18:00</h4>                 
                       
                        <h3 class="color-1">Preț - 650 lei/lună:</h3>
                        <ul>
                            <li>
                                •	Abonament – 400 lei
                            </li>
                            <li>
                                •	Transport – 50 lei                      
                            </li>
                            <li>
                                •	Masă – 200 de lei                      
                            </li>
                        </ul>
                        <p class="mt-20">
                            Reducere de 10% pentru prima lună în cazul înscrierii până pe 10 septembrie. Oferim o reducere de 10% din costul abonamentului pentru al doilea frate înscris la afterschool și pentru reînscriere.
                        </p>
                        <p>
                            Pentru recomandarea unui alt copil reducerea este de 10% (pentru ambii copii) din abonamentul aferent pentru luna următoare.
                            Tariful în regim zilnic este de 35 de lei pe zi.
                        </p>
                        
                        <h4 class="color-3">Școala de vară 8:00-18:00</h4>
                        <p>
                            Tariful în regim zilnic este de 35 de lei pe zi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                @{Html.RenderPartial("_SchoolInformation");}
            </div>
        </div>
    </div>
</section>