<section class="mainContent full-width clearfix conactSection">
    <div class="container">
        @{Html.RenderPartial("_ContactInformation");}
        @{Html.RenderPartial("_ContactMap");}
        @{Html.RenderPartial("_ContactForm");}
    </div>
</section>