<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block pull-right">
                <div class="thumbnail thumbnailContent alt">
                    <div class="page-banner-program">
                      
                    </div>
                    <div class="caption border-color-1">
                        <h3 class="color-1">Program</h3>
                        <h4 class="color-2">“Educaţia nu este cât de mult ai memorat, nici măcar cât ştii. Este capacitatea de a diferenţia între ceea ce ştii şi ceea ce nu ştii” – Anatole France</h4>
                        <p>
                            În timpul școlii programul este de luni până vineri de la ora 12:00 până la ora 18:00.
                        </p>
                        <p>
                            Pe timpul vacanței programul este de la ora 8:00 până la ora 18:00.
                        </p>
                        <h3 class="program-title  color-1">Serviciile propuse au la bază:</h3>
                        <ul>
                            <li>
                                •	Susţine activitatea desfășurată la şcoală prin efectuarea temelor şi a unor exerciţii suplimentare
                            </li>
                            <li>
                                •	Urmăreşte succesul şcolar și personal al copilului
                            </li>
                            <li>
                                •	Pune la dispoziţia copilului personal calificat: pedagogi, instructori
                            </li>
                            <li>
                                •	Urmăreşte dezvoltarea unei personalităţi autonome, continuând procesul de asimilare a tehnicilor de muncă intelectuală început la şcoală
                            </li>
                            <li>
                                •	Propune activităţi variate de recreere: jocuri, concursuri, activitati in aer liber
                            </li>
                            <li>
                                •	Sprijină dezvoltarea socială a copilului prin exersarea relaţionării permanente cu adulţii şi cu copiii de vârste apropiate
                            </li>
                            <li>
                                •	Urmăreşte dezvoltarea deprinderilor de relaţionare și pune accent pe lucrul în echipă
                            </li>
                        </ul>

                        <h3 class="program-title color-2">Pachetul de servicii oferite de Happy Sunflowers after school include:</h3>
                        <ul>
                            <li>
                                12.00– 12.30 Preluarea și transportul (la cererea părinților) copiilor de la școală până la sediul Happy Sunflowers
                            </li>
                            <li>
                                12.30 – 13.00 Servirea mesei de prânz care constă în două feluri de mâncare caldă în regim de catering
                            </li>
                            <li>
                                13.00 – 14.00 Jocuri și odihnă prin activități distractive și recreative, în aer liber, în grădină sau în interior. Avem jocuri care implică mișcare, activități practice, creative sau artistice precum teatrul de păpuși.
                            </li>
                            <li>
                                14.00 – 16. 00 Efectuarea temelor asistată de personal de specialitate. Activitate individuală și pe grupe. Verificarea temelor și a cunoștințelor acumulate, lucru suplimentar, în limita timpului disponibil.
                            </li>
                            <li>
                                16.00 – 16.30 Lectură
                            </li>
                            <li>
                                16.30 – 17. 00 Relaxare și gustare (fructe).
                            </li>
                            <li>
                                17.00 – 18.00 Activități suplimentare
                            </li>
                        </ul>

                        <h3 class="program-title color-3">Dispunem de următoarelor dotări în care ne desfăşurăm activităţile:</h3>
                        <ul>
                            <li>
                                •	Spaţiu amenajat pentru studiu și servirea mesei
                            </li>
                            <li>
                                •	Spaţiu propriu de joacă în interior și în aer liber
                            </li>
                            <li>
                                •	Resurse: culegeri, manuale, dicţionare, soft educaţional, jocuri
                            </li>
                        </ul>
                        <p>
                            Sediul nostru se află în cartierul Tractorul din Braşovului, pe strada Iosif Șilimon nr. 13 (în statele Leroy Merlin) la doar 4 minute de mers cu mașina de pe strada Independenței, pornind de la complexul Cerna.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                @{Html.RenderPartial("_SchoolInformation");}
            </div>
        </div>
    </div>
</section>