/*-------------general section---------*/
.mt-20 {
    margin-top: 20px;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: none !important;
}

/*-------------footer section-----------------*/
.footerInfoArea {
    background-image: url('../images/footer-bg-1.png');
}
/*-----------benefits section-------------*/ 
.benefits-title h4{
    text-align: center;
}
.benefits-text p{
    padding: 20px;
    text-align: center;

}
/*-------------banner section---------*/
.slider-caption p {
    color: white;
    font-size: 28px;
    margin-top: 25px;
}

/*---------program section-------------*/

h3.program-title {
    margin-top: 25px !important;
}
/*------------media section-------------*/
figure.media-img {
    width: 380px;
    margin-top:5px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    overflow: hidden;
    height: 210px !important;
}
/*-------------error message------------*/
.error-form-message {
    color: red;
}

/*----------- contact page------------*/
.email-contact-article {
    padding-left: 0 !important;
    padding-right: 0 !important;
}