<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block pull-right">
                <div class="thumbnail thumbnailContent alt">
                    <div class="page-banner-about">
                      
                    </div>
                    <div class="caption border-color-1">
                        <h3 class="color-1">Despre noi</h3>
                        <h4 class="color-2">“Educația este îmblânzirea unei flăcări, nu umplerea unui vas”– Socrate</h4>
                        <p>Programul educațional Happy Sunflowers afterschool vine în sprijinul părinților și al elevilor în vederea completării procesului educativ cu scopul de a eficientiza timpul petrecut în afara școlii. Aici copiii au parte de un mediu relaxant dedicat studiului și recreerii, unde copiii își fac temele, se joacă și experimentează lucruri noi.</p>
                        <p>În centrul educațional Happy Sunflowers se desfășoară activități educaționale și de îngrijire zilnică a copiilor, gen after school. Centrul educațional Happy Sunflowers este destinat copiilor pasionați de sport, natură, limbi străine și activități în aer liber.</p>
                        <p>În cadrul centrului activează Clubul copiilor pricepuți, prin intermediul căruia copii desfășoară activități sportive, excursii, ateliere săptămânale sau tabere în perioada vacanțelor.</p>
                        <p>
                            De serviciile noastre beneficiază copii cu vârste cuprinse între 6 și 11 ani,  care provin din familii care se confruntă cu problema supravegherii copiilor după terminarea programului școlar și pe perioada vacanțelor, care doresc o supraveghere cu personal calificat, într-un grup, care poate stimula, într-un cadru adecvat, relaționarea interpersonală cu alți copii de aceeași vârstă, cooperarea, comunicarea verbală și nonverbală, creativitatea și cunoașterea.
                        </p>
                        <h3 class="color-1">Serviciile propuse au la bază:</h3>
                        <ul>
                            <li>
                                1.	Procesul de învățare prin joc
                            </li>
                            <li>
                                2.	Participarea copilului la alegerea activităților, jocurilor și a jucăriilor
                            </li>
                            <li>
                                3.	Organizarea adecvată a mediului educativ
                            </li>
                            <li>
                                4.	Adaptarea metodelor de educație în funcție de nevoile fiecărui copil
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                @{Html.RenderPartial("_SchoolInformation");}
            </div>
        </div>
    </div>
</section>