<footer>
    <!-- FOOTER INFO AREA -->
    <div class="footerInfoArea full-width clearfix">
        <div class="container">
            <div class="row">
                <div class=" col-sm-4 col-xs-12">
                    <div class="footerTitle">
                        <a href="index-v1.html"><img src="~/Content/images/SiglaAfterSchool_322x102.png"></a>
                    </div>
                    <div class="footerInfo">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia.Lorem ipsum dolor sit amet.</p>
                        <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="footerTitle">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="footerInfo">
                        <ul class="list-unstyled footerList">
                            <li>
                                <a href="index-v1.html">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>Kidz School
                                </a>
                            </li>
                            <li>
                                <a href="about_us.html">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>About Kidz School
                                </a>
                            </li>
                            <li>
                                <a href="index-v2.html">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>Kidz Store
                                </a>
                            </li>
                            <li>
                                <a href="index-v3.html">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>Kidz Daycare
                                </a>
                            </li>
                            <li>
                                <a href="photo-gallery.html">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    Photo Gallery
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="footerTitle">
                        <h4>Mailing List</h4>
                    </div>
                    <div class="footerInfo">
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email address" aria-describedby="basic-addon21">
                            <button type="submit" class="input-group-addon" id="basic-addon21"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY RIGHT -->
    <div class="copyRight clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-push-7 col-xs-12">
                    <ul class="list-inline">
                        <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                    <div class="copyRightText">
                        <p>©@DateTime.Now.Year Copyright Happy Sun Flower</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>