<aside>
    <div class="rightSidebar">
        <div class="panel panel-default">
            <div class="panel-heading bg-color-1 border-color-1">
                <h3 class="panel-title">Informații</h3>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left iconContent bg-color-2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="media-body iconContent">
                            <h4 class="media-heading color-2">Data de start</h4>
                            <p>15 Septembrie,2016</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left iconContent bg-color-3">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        </div>
                        <div class="media-body iconContent">
                            <h4 class="media-heading color-3">Vârsta</h4>
                            <p>6-11 Ani</p>
                        </div>
                    </li>
                    <li class="media iconContet">
                        <div class="media-left iconContent bg-color-4">
                            <i class="fa fa-anchor" aria-hidden="true"></i>
                        </div>
                        <div class="media-body iconContent">
                            <h4 class="media-heading color-4">Locuri disponibile</h4>
                            <p>8</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left iconContent bg-color-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body iconContent">
                            <h4 class="media-heading color-5">Orar</h4>
                            <p>12:00-18.00</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left iconContent bg-color-6">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="media-body iconContent">
                            <h4 class="media-heading color-6">Tarif</h4>
                            <p>650 lei</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
